html , body{
    width: 100%;
    
    height: 100%;
}
section{
    width: 70%;
    height: 90%;
    display: flex;
    flex-direction: column;
    margin-left: 15%;
}
header{
    height: 20%;
    width: 100%;
    background-color:  #ffa500;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav {
    width: 40%;
    justify-content: space-around;
    font-family: cursive;
}
.nav-item a{
    color: white;
    
    text-decoration: none;
}
.input-box input{

  border-color: #138f8d;
}



 .search-container {
  float: right;
  margin-right: 5%;
}
.navbar navbar-expand-lg navbar-light bg-light{
    width: 50%;
    height: 20%;
}
.image-container img{
margin-left: 20%;
width: 50%;
height: 100%;
border-radius: 50%;
}
.image-container{
    width: 20%;
    height: 80%;
}

input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

 .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
  font-family: cursive;
}
a{
    font-family: cursive;
}

.search-container button:hover {
  background: #ccc;
}
.people-information{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 80%;
    margin-left: 5%;
    justify-content: space-around;
}
.person1{
    width: 100%;
    height: 28%;
    font-family: cursive;
    display: flex;
    justify-content: space-around;

}
.person1 img{
    width: 20%;
    height: 110%;
    border-radius: 50%;
}
