
label {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

img{
    width: 130px;
    height: 130px;
    border-radius: 50%;
}

#img-2{
    width:80%;
    height: 200px;
    border-radius: 10%;
}
p{
    width: 20%;
}
.main{
    
    width: 90%;
    margin-top: 2%;
    margin: 0 auto;
}
#catogries{
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-left: 25px;
    margin-top: 50px;
    width: 80%;
    margin-left: 10%;
}
#catogory{
    width: 23%;
    height: 20%;
    
}
#catogory:hover {
    width: 27%;
    height: 30%;
}

