
img{
    width: 130px;
    height: 130px;
    border-radius: 50%;
}
a{
    text-decoration: none; 
    margin-left: 30px;
}
#img-2{
    width: 100%;
    height: 200px;
    border-radius: 10%;
}
.main{
    width: 90%;
    margin: 0 auto;
}
#all_animals{
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-left: 25px;
    margin-top: 50px;
    flex-wrap: wrap;
}

#animal{
    width: 22%;
}
#animal:hover {
    color: #fff;
    transform: scale(1.2);
}
br {
    content: '\A';
    display: contents;
    white-space: pre;
  }
