html , body{
    height: 110%;
    width: 100%;

}
h3{
    font-family: cursive;
}


header{
    height: 17%;
    width: 100%;
    background-color:  #ffa500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
* {box-sizing: border-box;}

.nav {
    width: 40%;
    justify-content: space-around;
    font-family: cursive;
}
.nav-item a{
    color: white;
    
    text-decoration: none;
}
.input-box input{

  border-color: #ffa500;
}



 .search-container {
  float: right;
  margin-right: 5%;
}
.navbar navbar-expand-lg navbar-light bg-light{
    width: 50%;
    height: 20%;
}
.image-container img{
background-color: #f4e6cc;
margin-left: 20%;
width: 50%;
height: 100%;
border-radius: 50%;
}
.image-container{
    width: 20%;
    height: 80%;
}

input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

 .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
  font-family: cursive;
}
a{
    font-family: cursive;
}

.search-container button:hover {
  background: #ccc;
}
.img-container{
    width: 90%;
    height: 30%;
    margin-left: 5%;
    margin-bottom: 2%;
    background-color: #f4e6cc;
}
.img-container img{
    width: 100%;
    height: 100%;
}
.categories{
    display: flex;
    width: 90%;
    margin-left: 5%;
    height: 20%;
    align-items: center;
    justify-content: space-between;
    margin-top: 3%;
    margin-bottom: 3%;
    background-color: #f4e6cc;

}
.category{
    width: 20%;
    height: 100%;

}
.category img{
    width: 100%;
    height:80% ;
    border-radius: 4%;
}
.category span{
    color: black;
    font-size: large;
    font-family: cursive;
    height: 20%;
}
.category:hover {   
    width: 25%;       
    height: 110%;    
    } 
h3
{
    margin-left: 5%;
    margin-bottom: 2%;

}
.animals{
    display: flex;
    width: 90%;
    margin-left: 5%;
    height: 20%;
    align-items: center;
    justify-content: space-between;
    margin-top: 3%;
    /* background-color: #f4e6cc; */
}
.animal{
    width: 20%;
    height: 100%;

}
.animal img{
    width: 100%;
    height:80% ;
    border-radius: 4%;
}
.animal span{
    color: black;
    font-size: large;
    font-family: cursive;
    height: 20%;
}
.animal:hover {   
    width: 25%;       
    height: 110%;    
    } 
footer{
    width: 100%;
    height: 20%;
    align-items: center;
      
}
footer img{
    margin-top: 15%;
    width: 20%;
    height: 50%;
    border-radius: 50%;
    margin-left: 45%;

}