@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
body{
  height: 90%;
  display: flex;
  justify-content:left;
  align-items: center;
  padding: 7%;
  background: linear-gradient(135deg, #b1b4b7, #ffa500);
}
.container{
  margin-left: 10%;
    max-width: 40%;
    width: 100%;
    background-color: #fff;
    padding: 3% 3%;
    border-radius: 2%;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}

.container .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.container .title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #e3f2fc, #ffa500);
}
.content form .person-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
.content form .user-details1{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
  }
form .person-details .input{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
form .input span.deta{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.person-details .input input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.person-details .input input:focus,
.person-details .input input:valid{
  border-color: #ffa500;
}
form .user-details1 .input{
    margin-bottom: 15px;
    height: 100%;
    width: calc(100% / 2 - 20px);
  }
  form .input span.deta
  
  {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
  }
  .user-details1 .input input{
    height: 45px;
    width: 100%;
    outline: none;
    font-size:medium;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
  }
  .user-details1 .input input:focus,
  .user-details1 .input input:valid{
    border-color: #ffa500;
  }
 form .genderd .gender-title{
  font-size: 20px;
  font-weight: 500;
 }
 form .category{
   display: flex;
   width: 80%;
   margin: 14px 0 ;
   justify-content: space-around;
 }
 form .category label{
   display: flex;
   align-items: center;
   cursor: pointer;
 }
 form .category label .dot{
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}
 #d1:checked ~ .category label .one,
 #d2:checked ~ .category label .two,
 #dot-3:checked ~ .category label .three{
   background: #ffa500;
   border-color: #d9d9d9;
 }
 form input[type="radio"]{
   display: none;
 }
 form .button{
   height: 45px;
   margin: 35px 0
 }
 form .button input{
   height: 100%;
   width: 100%;
   border-radius: 5px;
   border: none;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: linear-gradient(135deg, #e8f0f6, #ffa500);
 }
 form .button input:hover{
  /* transform: scale(0.99); */
  background: linear-gradient(-135deg, #dce7ef, #ffa500);
  }
 @media(max-width: 584px){
 .container{
  max-width: 90%;
  margin-left: 5%;
  margin-top: 10%;
  height: 80%;
}
.circuler img{
  margin-left: 30%;
border-radius: 50%;
width:10% ;
height: 10%;
display: none;
}
form .person-details .input{
    margin-bottom: 15px;
    width: 100%;
  }
  form .category{
    width: 100%;
  }
  .content form .person-details{
    max-height: 300px;
    overflow-y: scroll;
  }
  .person-details::-webkit-scrollbar{
    width: 5px;
  }
  body{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    padding: 10px;
    background: linear-gradient(-135deg, #dce7ef, #ffa500);


}
.circuler img{
  margin-left: 30%;
border-radius: 50%;
width: 10%;
height:10%;
display: none;

}
 }
  
  @media(max-width: 459px){
  .container .content .category{
    flex-direction: column;
  }
  body{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:left;
    align-items: center;
    padding: 10px;
    background: linear-gradient(-135deg, #dce7ef, #ffa500);

  }
  .circuler img{
    margin-left: 30%;
border-radius: 50%;
width: 100px;
height:100px;
display: none;

}
}
.circuler img{
    margin-left: 30%;
border-radius: 50%;
width: 500px;
height: 500px;
}
