@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
:root {
    --rad: .7rem;
    --dur: .3s;
    --color-dark: #2f2f2f;
    --color-light: #fff;
    --color-brand: #57bd84;
    --font-fam: 'Lato', sans-serif;
    --height: 3.2rem;
    --btn-width: 6rem;
    --bez: cubic-bezier(0, 0, 0.43, 1.49);
}
#form {
    position: relative;
    width: 20rem;
    background: var(--color-brand);
    border-radius: var(--rad);
}
#search, button {
    height: var(--height);
    font-family: var(--font-fam);
    border: 0;
    color: var(--color-dark);
    font-size: 1.2rem;
}
#search[type="search"] {
    outline: 0; 
    width: 100%;
    background: var(--color-light);
    padding: 0 1.6rem;
    border-radius: var(--rad);
    appearance: none; 
    transition: all var(--dur) var(--bez);
    transition-property: width, border-radius;
    z-index: 1;
    position: relative;
}
button {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: var(--btn-width);
    font-weight: bold;
    background: var(--color-brand);
    border-radius: 0 var(--rad) var(--rad) 0;
}
#search:not(:placeholder-shown) {
    border-radius: var(--rad) 0 0 var(--rad);
    width: calc(100% - var(--btn-width));
    + button {
    display: block;
    }
} 
label {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
.top-nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: orange;
    border-radius: 5px;
    padding: 20px 40px;
    margin-bottom: 40px;
}
img{
    width: 130px;
    height: 130px;
    border-radius: 50%;
}
a{
    text-decoration: none;
    font-size: 1.2rem;
    margin-left: 30px;
}
h2{
    text-align: center;
}
.main{
    width: 600px;
    margin: 40px auto;
    align-content: center;
}
.content form .user-details{
    display: block;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}
form .user-details .form-input{
    margin-bottom: 15px;
} 
form .form-input span.details{
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}
.user-details .form-input input, textarea, select{
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}
form .button{
    height: 45px;
    margin: 35px 0
}
form .button input, .form-input form button{
    height: 100%;
    width: 600px;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(135deg, #fff, orange);
}
