
.table table-striped{
    
    overflow: scroll;
    margin-left: 10%;
}
body{
    width: 100%;
    height: 100%;
}
.container11{
    width: 80%;
    height: 80%;
    padding-top: 2%;
    margin-top: 5%;
    overflow: scroll;
}
td img{
    width:100px;
    height: 100px;
}