<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Animal</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'editAnimal.css' %}">
</head>
<body>
    <div class="container">
        <div class="top-nav">
            <div class="logo">
                <img src="D:\Desktop\Axsos\Python Proejct\Python_Project\finalProject\user\static\Pet_Shop.png" alt="PetShop_logo">
            </div>
            <div class="links">
                <a href="#">Home</a><a href="#">Animals</a><a href="#">Add Animal</a><a href="#">About Us</a>
            </div>
            <div class="search-bar">
                <form id="form" onsubmit="event.preventDefault();" role="search">
                    <label for="search">Search for stuff</label>
                    <input id="search" type="search" placeholder="Search..." autofocus required />
                    <button type="submit">Go</button>    
                </form>
            </div>
        </div>
        <h2>Add Your Pet for Sale</h2>
        <div class="main">
            <div class="content">
                <form action="#">
                <div class="user-details">
                    <div class="form-input">
                        <span class="details">Pet Name</span>
                        <input type="text" placeholder="Name..." required name="pet_name" value="{{animal.animal_name}}">
                    </div>
                    <div class="form-input">
                        <span class="details">Pet Age</span>
                        <input type="text" placeholder="Age..." required name="pet_age" value="{{animal.age}}">
                    </div>
                    <div class="form-input">
                        <span class="details">Description</span>
                        <textarea
                        type="text"
                        rows="5"
                        placeholder="Pet Description"
                        name="pet_description" value="{{animal.description}}">
                        </textarea>
                    </div>
                    <div class="form-input">
                        <span class="details">Pet Price</span>
                        <input type="text" placeholder="$$$" required name="pet_price" value="{{animal.price}}">
                    </div>
                    <div class="form-input">
                        <span class="details">Pet Catogory</span>
                        {% for catogory in all_catogories %}
                        <select name="catgs" id="catgs" value="{{animal.category.name}}">
                            <option value="catogory_id">{{catogory.name}}</option>
                            <option value="catogory_id">{{catogory.name}}</option>
                            <option value="catogory_id">{{catogory.name}}</option>
                            <option value="catogory_id">{{catogory.name}}</option>
                        </select>
                        {%endfor%}
                    </div>
                    <div class="form-input">
                        <span class="details">Photo of your pet</span>
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                                <input type="file" name="upload" accept="image/*">
                                <br>
                                <button type="submit">Submit</button>
                        </form>
                    </div>
                    <div class="button">
                        <input type="submit" value="Save Changes">
                    </div>
                </div>
</body>
</html>