<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Animals</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/all_animals.css' %}">
</head>
<body>
    <div class="container">
        <div class="top-nav">
            <div class="logo">
                <img src="static/LOGO.PNG" alt="PetShop_logo">
            </div>
            <div class="links">
                <a href="#">Home</a><a href="#">Animals</a><a href="#">Add Animal</a><a href="#">About Us</a>
            </div>
            <div class="search-bar">
                <form onsubmit="event.preventDefault();" role="search">
                    <label for="search">Search for stuff</label>
                    <input id="search" type="search" placeholder="Search..." autofocus required />
                    <button type="submit">Go</button>    
                </form>
            </div>
        </div>
        <div class="main">
            <div id="location">
                <p><a href="#">Home</a> /All_Animals</p>
            </div>
            <div id="all_animals">
                <div id="animal" name="cat-1">
                    <img id="img-2" src="static/cat..jpg" alt="dog-pic">
                    <p>Dogs</p>
                </div>
                <div id="animal" name="cat-2">
                    <img id="img-2" src="static/rabbits.jpg" alt="dog-pic">
                    <p>Cats</p>
                </div>
                <div id="animal" name="cat-3">
                    <img id="img-2" src="static/rabbits.jpg" alt="dog-pic">
                    <p>Rabbits</p>
                </div>
                <div id="animal" name="cat-4">
                    <img id="img-2" src="static/rabbits.jpg" alt="dog-pic">
                    <p>Tortoises</p>
                </div>
            </div>

        </div>
    </div>

</body>
</html>