<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Catogries</title>
    <link rel="stylesheet" href="D:\Desktop\Axsos\Python Proejct\Python_Project\finalProject\user\static\all_catogries.css">
</head>
<body>
    <div class="container">
        <div class="top-nav">
            <div class="logo">
                <img src="D:\Desktop\Axsos\Python Proejct\Python_Project\finalProject\user\static\Pet_Shop.png" alt="PetShop_logo">
            </div>
            <div class="links">
                <a href="#">Home</a><a href="#">Animals</a><a href="#">Add Animal</a><a href="#">About Us</a>
            </div>
            <div class="search-bar">
                <form onsubmit="event.preventDefault();" role="search">
                    <label for="search">Search for stuff</label>
                    <input id="search" type="search" placeholder="Search..." autofocus required />
                    <button type="submit">Go</button>    
                </form>
            </div>
        </div>
        <div class="main">
            <div id="location">
                <p><a href="#">Home</a> / Catogries</p>
            </div>
            <div id="catogries">
                <div id="catogory" name="cat-1">
                    <img id="img-2" src="D:\Desktop\Axsos\Python Proejct\Python_Project\finalProject\user\static\dog.jpeg" alt="dog-pic">
                    <p>Dogs</p>
                </div>
                <div id="catogory" name="cat-2">
                    <img id="img-2" src="D:\Desktop\Axsos\Python Proejct\Python_Project\finalProject\user\static\cat..jpg" alt="dog-pic">
                    <p>Cats</p>
                </div>
                <div id="catogory" name="cat-3">
                    <img id="img-2" src="D:\Desktop\Axsos\Python Proejct\Python_Project\finalProject\user\static\rabbits.jpg" alt="dog-pic">
                    <p>Rabbits</p>
                </div>
                <div id="catogory" name="cat-4">
                    <img id="img-2" src="D:\Desktop\Axsos\Python Proejct\Python_Project\finalProject\user\static\tortoises.jpg" alt="dog-pic">
                    <p>Tortoises</p>
                </div>
            </div>

        </div>
    </div>

</body>
</html>