<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <!---<title> Responsive Registration Form | CodingLab </title>--->
    
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     {% load static %}
    <link rel="stylesheet" href="{% static 'css/userStyle.css' %}">
   </head>
<body >
  <div class="container">
    <div class="title">Log in</div>
    <div class="content">
      <form action="/login" method="post">
        {% csrf_token %}
        <div class="user-details1">
          
          <div class="input">
            <span class="details">Email</span>
            <input type="text" placeholder="Enter your email" name="email" required>
          </div>
         
          <div class="input">
            <span class="details">Password</span>
            <input type="text" placeholder="Enter your password" name="password" required>
          </div>
         
          
        </div>
        <div class="button">
            <input type="submit" value="login">
          </div>
          {% if messages %}
 
          <ul class="messages">    
              {% for message in messages %}    
                  <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
              {% endfor %}
          </ul>
         
      {% endif %}
        <div class="gender-details">
         you don't have account ? , <a href="/registerForm">Register Now !</a>
          </div>
        </div>
   
      </form>

    </div>
  </div>
  <div class="circuler">
      <img src="static/image/cat1.jpg" alt="">
  </div>

</body>
</html>
