<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <!---<title> Responsive Registration Form | CodingLab </title>--->
    
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     {% load static %}
    <link rel="stylesheet" href="{% static 'css/userStyle.css' %}">
   </head>
<body >
  <div class="container">
    <div class="title">Registration</div>
    <div class="content">
      <form action="#">
        <div class="person-details">
          <div class="input">
            <span class="deta">First Name</span>
            <input type="text" placeholder="Enter your name" required>
          </div>
          <div class="input">
            <span class="deta">Last Name</span>
            <input type="text" placeholder="Enter your username" required>
          </div>
          <div class="input">
            <span class="deta">City</span>
            <input type="text" placeholder="Enter your city" required>
          </div>
          <div class="input">
            <span class="deta">Email</span>
            <input type="text" placeholder="Enter your email" required>
          </div>
          <div class="input">
            <span class="deta">Phone Number</span>
            <input type="text" placeholder="Enter your number" required>
          </div>
          <div class="input">
            <span class="deta">Password</span>
            <input type="text" placeholder="Enter your password" required>
          </div>
          <div class="input">
            <span class="deta">Confirm Password</span>
            <input type="text" placeholder="Confirm your password" required>
          </div>
          
        </div>
        <div class="genderd">
          <input type="radio" name="gender" id="d1">
          <input type="radio" name="gender" id="d2">
          
          <span class="gender-title">Gender</span>
          <div class="category">
            <label for="d1">
            <span class="dot one"></span>
            <span class="gender">Male</span>
          </label>
          <label for="d2">
            <span class="dot two"></span>
            <span class="gender">Female</span>
          </label>
          
          </div>
        </div>
        <div class="button">
          <input type="submit" value="Register">
        </div>
      </form>

    </div>
  </div>
  <div class="circuler">
      <img src="static/image/cat.jpg" alt="">
  </div>

</body>
</html>
