<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

</head>
<body style="width: 100%; height: 100%;">
    <input type="text" id="search" name="search" />
    <ul id="search-results">
        <button id="search1"></button>
    </ul>
    {% if count > 0 %}
    <ul class="statuss">
        {% for status in statuss %}
            <li>
                <p>{{status.animal_name}}</p>
            </li>
        {% endfor %}    
    </ul>
{% else %}
    <p>No status found.</p>
    <p>jjj</p>
{% endif %}
<script>
    $(function() {

$('#search1').click(function() {

    $.ajax({
        type: "GET",
        url: "/status/search_status/",
        data: {
            'search_text' : $('#search').val(),
            'csrfmiddlewaretoken' : $("input[name=csrfmiddlewaretoken]").val()
        },
        success: searchSuccess,
        dataType: 'html'
    });
});
});

function searchSuccess(data, textStatus, jqXHR)
{
$('#search-results').html(data)
}
</script>
</body>
</html>